@use '../utils/mixins' as *;

.about {
  @include grid;

  @include for-tablet {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    padding: 0 72px;
    column-gap: 24px;
  }

  @include for-desktop {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    padding: 0 120px;
    column-gap: 24px;
  }

  margin-bottom: 96px;

  &__title {
    margin-bottom: 32px;
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 3;
    }

    @include for-desktop {
      grid-column: span 5;
    }

    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &__pharagraph {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__advantages {
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 3;
    }

    @include for-desktop {
      grid-column: 6 / -1;
    }

    margin-bottom: 40px;
  }

  &__description {
    grid-column: span 2;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;

    @include for-tablet {
      grid-column: 4 / -1;
    }

    @include for-desktop {
      grid-column: 6 / -3;
    }
  }
}
