@use '../utils/mixins' as *;

.article {
  width: 100%;
  margin-bottom: 40px;

  &__photo {
    width: 100%;
    margin-bottom: 32px;
    justify-content: center;
  }

  &__title {
    margin-bottom: 8px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
  }

  &__description {
    margin-bottom: 12px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
  }
}
