@use '../utils/mixins' as *;

.burger {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../logos/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &__label {
    @include visually-hidden;
  }

  &:hover {
    background-image: url(../logos/burger-hover.svg);
  }
}
