@use '../utils/mixins' as *;

.form {
  margin-bottom: 48px;

  &__item {
    margin-bottom: 16px;
    background-color: #f8f8fa;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 40px;
    padding-left: 16px;

    &::placeholder {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__textarea {
    background-color: #f8f8fa;
    border: none;
    width: 100%;
    box-sizing: border-box;
    height: 148px;
    border-radius: 16px;
    padding-top: 14px;
    padding-left: 16px;

    &::placeholder {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 20px;
    }

    margin-bottom: 32px;
  }

  &__label {
    @include visually-hidden;
  }
}
