@use '../utils/mixins' as *;

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/photos/bigimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 64px;

  @include grid;

  padding: 0 20px 40px;

  @include for-desktop {
    padding: 0 120px 64px;
  }

  @include for-tablet {
    padding: 0 72px 64px;
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;
  }

  &__title {
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 6;
    }

    align-self: end;
    font-family: Inter, sans-serif;
    font-weight: 800;
    font-style: Italic;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    vertical-align: middle;

    &::before {
      content: url(/src/logos/soundwaves.svg);
      background-repeat: no-repeat;
      height: 58px;
      width: 48px;
      padding-bottom: 16px;
      display: block;
    }
  }
  &__navigation {
    grid-column: span 2;

    @include for-tablet {
      grid-column: span 6;
    }

    @include for-desktop {
      grid-column: span 12;
    }
  }
}
