.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: #e8eff9;
  display: flex;
  min-height: 100vh;
  padding: 24px 20px;
  flex-direction: column;

  &:target {
    transform: translateX(0);
  }

  &__logo {
    height: 16px;
  }

  &__close {
    transform: translateY(-4px);
    height: 24px;
  }

  &__links {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;

    &__item {
      padding-bottom: 32px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
  }
}

.page__body--with-menu {
  overflow: hidden;
}
