@use '../utils/mixins' as *;

.title {
  font-family: Inter, sans-serif;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: -1.5px;

  font-size: 32px;

  @include for-tablet {
    font-size: 40px;
  }

  @include for-desktop {
    font-size: 48px;
  }
}
