@use './utils/mixins' as *;

.gallery {
  padding: 0 20px;
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__photos {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;
  }

  &__pharagraph {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 140%;
  }

  &__button {
    width: 280px;
    height: 56px;
    border-radius: 40px;
    background: #292929;
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;

    &:hover {
      border: 3px solid #292929;
      background-color: white;
      color: #292929;
      transition: color,background-color 0.15s ease-in-out;
    }
  }

}
