.navigation {
  width: 100%;
  height: 320px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 28px;
    height: 16px;
  }

  &__phone {
    padding-top: 24px;
    height: 24px;
    width: 24px;
  }

  &__burger {
    padding-top: 24px;
    height: 24px;
    width: 24px;
  }
}
