@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin grid() {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
