@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin grid() {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 130px);
  column-gap: 20px;
  padding: 0 20px;
}

@mixin for-desktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 744px) {
    @content;
  }
}
